@model WebComplete.Models.ViewModel.PlanUserViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo Utilizador</h2>

@using (Html.BeginForm("Create", "Plan"))
{
    <div class=" form-group">

        @Html.LabelFor(m =>m.Utilizador.Name)
        @Html.TextBoxFor(m => m.Utilizador.Name, new {@class = "form-control" })
    </div>
    <div class=" form-group">

        @Html.LabelFor(m => m.Utilizador.Mail)
        @Html.TextBoxFor(m => m.Utilizador.Mail, new { @class = "form-control" })
    </div>
    <div class=" form-group">

        @Html.LabelFor(m => m.Utilizador.BirthDate)
        @Html.TextBoxFor(m => m.Utilizador.BirthDate, new { @class = "form-control" })
    </div>
    <div class=" form-group">

        @Html.LabelFor(m => m.Utilizador.SubscribeDate)
        @Html.TextBoxFor(m => m.Utilizador.SubscribeDate, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Utilizador.IsSubscrivedToNews) Receber Noticias
        </label>
       
    </div>
    <div class=" form-group">
     
        @Html.DropDownListFor(m => m.Utilizador.PlanID, new SelectList(Model.Planos,"Id","Name"), "Selecione Plano", new { @class = "form-control" })
    </div>
};

